/* ==UserStyle==
@name Colourised GitHub
@namespace github.com/Purrrpley/userstyles
@version 1.1.0
@description Changes the accent colour on GitHub
@author Purrrpley
@homepageURL https://github.com/Purrrpley/userstyles
@supportURL https://github.com/Purrrpley/userstyles/issues
@license MIT
@preprocessor stylus
@var color selected-color "Selected Colour" #B064AA
==/UserStyle== */

@-moz-document domain("github.com")
  $colorised = selected-color
  $colorised-dark1 = darken($colorised, 20%)
  $colorised-dark2 = darken($colorised, 40%)
  $colorised-dark3 = darken($colorised, 65%)
  $colorised-light1 = lighten($colorised, 20%)
  $colorised-light2 = lighten($colorised, 40%)
  $colorised-muted = saturate($colorised, -80%)
  $colorised-muted-dark = darken($colorised-muted, 20%)
  
  // Modified variables from GitHub's colour list, which you can find by
  // visiting github.com and looking through CSS files in the network
  // tab of developer tools, or here:
  // https://github.githubassets.com/assets/dark-5d486a4ede8e.css
  // (remember to look in the (prefers-color-scheme: dark) @media query)
  //
  // Which colour to use is determined by comparing the difference
  // between the main colour (`--color-accent-fg`) and the other colour
  // in GitHub's colour list, and then mimicking that difference (as
  // well as mimicking alpha values)
  :root
    // Main things like links
    --color-accent-fg: $colorised !important  // #2f81f7
    // Background outlines, like for your own issue comments
    --color-accent-muted: alpha($colorised-dark1, 0.4) !important  // rgba(56, 139, 253, 0.4)
    // Backgrounds
    --color-accent-subtle: alpha($colorised-dark1, 0.15) !important  // rgba(56, 139, 253, 0.1)
    // Selected toggles like for the issue categories, and some hover
    // things like the profile settings dropdown
    --color-accent-emphasis: $colorised-dark1 !important  // #1f6feb
    // Primary buttons
    --color-btn-primary-bg: $colorised !important  // #238636
    // Background of disabled buttons
    --color-btn-primary-disabled-bg: alpha($colorised, 0.6) !important  // rgba(35, 134, 54, 0.6)
    // Primary buttons hovering
    --color-btn-primary-hover-bg: $colorised-light1 !important  // #2ea043
    // Primary buttons selected
    --color-btn-primary-selected-bg: $colorised !important  // #238636
    // Border for things like selected tabs
    --color-primer-border-active: $colorised-light1 !important  // #f78166
    // Buttons that have coloured text, like commit hashes
    --color-btn-outline-text: $colorised !important  // #388bfd
    // Buttons that have coloured text when hovered
    --color-btn-outline-hover-text: $colorised !important  // #58a6ff
    // Buttons that have coloured text when clicked
    --color-btn-outline-selected-bg: $colorised-dark1 !important  // #0d419d
    // Buttons that have coloured text that are disabled, like the
    // "Older" and "Newwer" buttons at the bottom of commit history
    // searches
    --color-btn-outline-disabled-text: alpha($colorised-light1, 0.5) !important  // rgba(88, 166, 255, 0.5)
    // Diff hunks line expander thing when not hovered
    --color-diff-blob-hunk-num-bg: alpha($colorised-light1, 0.4) !important  // rgba(56, 139, 253, 0.4)
    // Background of issue/other reactions made by you when hovered over
    --color-social-reaction-bg-reacted-hover: $colorised-dark3 !important  // not used anymore?
    // Contributions calandar thing
    --color-calendar-graph-day-L1-bg: $colorised-dark3 !important
    --color-calendar-graph-day-L2-bg: $colorised-dark2 !important
    --color-calendar-graph-day-L3-bg: $colorised !important
    --color-calendar-graph-day-L4-bg: $colorised-light2 !important
  
  // Inputs in things like setttings
  input[type=checkbox], input[type=radio]
    accent-color: var(--color-accent-fg) !important
  
  // Loading progress bar at the top of the page
  .turbo-progress-bar
    background-color: $colorised-dark1 !important
  
  // Activity overview graph highlight thing
  .js-activity-overview-graph .js-highlight-blob
    fill: $colorised !important
    stroke: $colorised !important
  
  // Contribution activity progress bar things. They are different
  // colours based on how long they are, so their hue is rotated by the
  // hue of the selected colour minus the default colour to keep the
  // brightness and relative hue the same.
  .contribution-activity-listing .Progress-item
    filter: hue-rotate(hue($colorised) - 136deg)
  
  // Colour used for lots of text and icons, very muted. I don't want to
  // change the colour of main text, but it's also used on colourised
  // backgrounds like branch names and git @@ position @@ lines, so I
  // change it for those only
  .commit-ref, .blob-code-hunk
    --color-fg-muted: $colorised-muted !important  // #7d8590
  
  // Colour used for highlight backgrouns, like backticks or commit hash
  // links. Commit hash links are colourised, but normally this isn't,
  // so this only applies to commit hash links.
  .commit-link
    --color-neutral-muted: alpha($colorised-muted-dark, 0.4) !important
  
  // Some things have hard-coded colours with a weird class name for
  // some reason
  .bJBoUI,  // Fork creation screen
  .iJtJJh  // File explorer view folder names
    color: $colorised !important  // rgb(47, 129, 247)
  .PRIVATE_TreeView-item-container::after  // File explorer tree view opened file marker
    background-color: $colorised !important  // rgb(45, 129, 247)
